
<style>
    body{
        background-image: url(/assets/main.png) 100% center;
    }
    .enter{
        height:20px; width:40px;
        position:center;
    }
</style>


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:10px}
</style>


<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
    <br><br><br><br><br><br>
<div class="w3-container w3-center">

<h1><a href="/game/choice"><img src="/assets/main.png"></a></h1>
</div>
</body>